# Dependencies
node_modules/
dist/
build/

# Environment
.env
*.local
.pnp
.pnp.js

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project files
*.zip
*.vbs
*.bat
App_Preview.html
